//! **************************************************************************
// Written by: Map O.87xd on Thu Oct 23 22:19:41 2025
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

